@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .section__pic-container {
    display: none;
  }

  .section__text {
    font-size: 1.5rem;
  }

}
